.profile__edit {
  width: 24px;
  height: 24px;
  background-color: black;
  background-image: url("../../../images/edit-button.svg");
  background-size:contain;
  background-repeat: no-repeat;
  border: none;
  margin-left: 18px;
  padding-left:24px;
}

.profile__edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width:920px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    padding-left:18px;
  }
}