.popup__content_type_image {
  width: auto;
  padding: 0;
  border-radius: 0;
  background: none;
  position: relative;
  max-width: 75vw;
  max-height: 75vh;
  margin: auto;
  box-sizing: border-box;
}