.profile {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width:920px) {
  .profile {
    padding: 0 19px;
  }
}

@media screen and (max-width:620px) {
  .profile {
    flex-direction: column;
    margin-bottom: 36px;
  }
}